<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title><%= title %></title>
        <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/login.css" media="screen" charset="utf-8">
    </head>
    <body>
        <div id="login-frame" class="login-frame form-center">
            <div class="logo-img">
                <img src="images/etl-logo.png" alt="" />
            </div>
            <div class="regist-title">
                <label>Create a user account</label>
            </div>
            <form class="login-form">
                <div class="form-login">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-login">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-login">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-login">
                    <div class="col-md-2"></div>
                    <input type="button" id="regist" class="btn btn-login col-md-8" name="regist" value="CREATE MY USER">
                    <div class="col-md-2"></div>
                </div>
                <div class="form-login form-register">
                    <label>Already have a user account?</label>
                    <div class="">
                        <a href="/login">Log in</a>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
