<%- include ./header.ejs %>
<style media="screen">
    h1 {color: #fff;}
    .container-fluid{padding-left: 0px;padding-right: 0px;}
    .top-content {
        width: 100%;
        height: 100%;
        background-color: #00ccc6;
        background-size: cover;
    }
</style>
<div class="container-fluid">
    <div class="top-content">
        <div class="row">
            <div class="col-sm-7">
                <h1>
                    A
                    <strong>learning-first</strong>
                    approach<br>
                    <span id="typed">
                        to getting a
                        <strong>six-figure</strong>
                        technology job
                    </span>
                    <span class="typed-cursor">|</span>
                </h1>
            </div>
        </div>
    </div>

</div>

<%- include ./footer.ejs %>
